@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@font-face {
    font-family: FonteLista;
    src: url(./fonts/playfair-display/PlayfairDisplay-Regular.otf);
}
*{
    margin: 0;
    text-decoration: none;

}

body {
    overflow-x: hidden;
}

.main {
    position: relative; 
    display: block;
}



.textoAnimado1 {
    opacity: 0; 
    animation: slideIn 2s ease forwards;
    background-color: transparent;
    margin-left: 10px;
    background: url('/assets/media/cama-mobile.png') no-repeat left top;
    padding-left: 3%;   
}

.textoAnimado2 {
    opacity: 0; 
    animation: slideTop 2s ease forwards;
    background-color: transparent;
    margin-left: 10px;
    animation-delay: 0.6s;
    background: url('/assets/media/reguamobiel.png') no-repeat left top;
    padding-left: 3%;   
    
    
}
.textoAnimado3 {
    opacity: 0; 
    animation: slidebottom 2s ease forwards;
    background-color: transparent;
    margin-left: 10px;
    animation-delay: 0.8s;
    background: url('/assets/media/docmobile.png') no-repeat left top;
    padding-left: 3%;  
}

.textoAnimado4 {
    opacity: 0; 
    animation: slideTop 2s ease forwards;
    background-color: transparent;
    margin-left: 10px;
    animation-delay: 0.9s;
    background: url('/assets/media/piscinamobile.png') no-repeat left top;
    padding-left: 3%;  
}

.textoAnimado5 {
    opacity: 0; 
    animation: slidebottom 2s ease forwards;
    background-color: transparent;
    margin-left: 10px;
    animation-delay: 1.1s;
    background: url('/assets/media/locmobile.png') no-repeat left top;
    padding-left: 3%;  
}

@keyframes slideTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
      color: #ffffff
    }
  }
  @keyframes slidebottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
      color: #ffffff
    }
  }


@keyframes slideIn {
    from {
        opacity: 0; 
        transform: translateX(-100%);
        
    }
    to {
        opacity: 1; 
        transform: translateX(0);
        color: #ffffff
        ;
        
    }
}

img {
    background-color: transparent;
    
}

h1 {
    font-size: 3em;
    color: white;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-family: 'Titillium Web', sans-serif;
}

.predio {
    width: 100%;
    height: 100%;
    display: flex;
    filter: brightness(0.7);
}

.content {
    width: 100%;
    position: absolute;
    top: 85%;
    left: 00.1%;
    display: flex;
    background-color: transparent;
    font-family: 'FonteLista' , sans-serif;
    font-size: large;
    justify-content: space-between;
    
}

.banner {
    height: auto;
    width: 100%;
    position: relative;
    
}

.div2 {
    width: 100%;
    position: relative;
    display: block;
}


.grow {
    opacity: 0; 
    animation: slideIn 2s ease forwards;
    background-color: transparent;
    margin-left: 10px;
    animation-delay: 1.9s;
    height: 300px;
    position: absolute;
    top: 5%;
    left: 2%;
}
    iframe {
    display: flex;
    margin: auto;
    top: 180%;
    background-color: rgb(0, 0, 0, 0,9);
    padding: 20px;  }

.family {
    background-image: url(media/familia.jpeg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }


  @media screen and (max-width: 768px) { 
    body {
        overflow-x: hidden;

    }
    .textoAnimado1 {
        opacity: 0; 
        animation: slideIn 2s ease forwards;
        background-color: transparent;
        margin-left: 10px;
        background: url('/assets/media/cama-mobile.png') no-repeat left top;
        padding-left: 8%;   
    }
    
    .textoAnimado2 {
        opacity: 0; 
        animation: slideTop 2s ease forwards;
        background-color: transparent;
        margin-left: 10px;
        animation-delay: 0.6s;
        background: url('/assets/media/reguamobiel.png') no-repeat left top;
        padding-left: 8%;      
        
    }
    .textoAnimado3 {
        opacity: 0; 
        animation: slidebottom 2s ease forwards;
        background-color: transparent;
        margin-left: 10px;
        animation-delay: 0.8s;
        background: url('/assets/media/docmobile.png') no-repeat left top;
        padding-left: 8%;  
    }
    
    .textoAnimado4 {
        opacity: 0; 
        animation: slideTop 2s ease forwards;
        background-color: transparent;
        margin-left: 10px;
        animation-delay: 0.9s;
        background: url('/assets/media/piscinamobile.png') no-repeat left top;
        padding-left: 8%;  
    }
    
    .textoAnimado5 {
        opacity: 0; 
        animation: slidebottom 2s ease forwards;
        background-color: transparent;
        margin-left: 10px;
        animation-delay: 1.1s;
        background: url('/assets/media/locmobile.png') no-repeat left top;
        padding-left: 8%;  
    }
    
    @keyframes slideTop {
        from {
          transform: translateY(-100%);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
          color: #ffffff
        }
      }
      @keyframes slidebottom {
        from {
          transform: translateY(100%);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
          color: #ffffff
        }
      }
    
    
    @keyframes slideIn {
        from {
            opacity: 0; 
            transform: translateX(-100%);
            
        }
        to {
            opacity: 1; 
            transform: translateX(0);
            color: #ffffff
            ;
            
        }
    }

    .content img {
        display: none;
    }
    .content {
        top: 47%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        left: 0.01%;
        background-color: transparent;
        font-family: 'FonteLista' , sans-serif;
        font-size: xx-small;
        overflow:auto;
        z-index: 1;
        flex-wrap: wrap;


        }
        

        .grow {
            opacity: 0; 
            animation: slideIn 2s ease forwards;
            background-color: transparent;
            animation-delay: 1.9s;
            height: 15%;
            top: 5%;
            left: 2%;
        }

        h1 {
            font-size: 100%;
            color: white;
            margin: auto;
            text-align: center;
            position: relative;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -1000%);
            background-color: transparent;
            font-family: 'Titillium Web', sans-serif;
            font-size: x-large;
            z-index: 1;
        }
        

        
        iframe {
            top: 180%;
            left: 10%;
            background-color: rgb(0, 0, 0, 0,9);
            margin: auto;
            width: 100%;
        }

        .predio {
            width: 100%;
            filter: brightness(0.5);
            object-fit: cover;
            position: static;
            position: relative;
            z-index: 0;
        }
        .div2 {
            display: block;
            z-index: 0;
        }
        
    }

    @media screen and (max-width: 576px) { 
        body {
            overflow-x: hidden;
        }
        .textoAnimado1 {
            opacity: 0; 
            animation: slideIn 2s ease forwards;
            background-color: transparent;
            margin-left: 10px;
            background: url('/assets/media/cama-mobile.png') no-repeat left top;
            padding-left: 8%;   
        }
        
        .textoAnimado2 {
            opacity: 0; 
            animation: slideTop 2s ease forwards;
            background-color: transparent;
            margin-left: 10px;
            animation-delay: 0.6s;
            background: url('/assets/media/reguamobiel.png') no-repeat left top;
            padding-left: 8%;      
            
        }
        .textoAnimado3 {
            opacity: 0; 
            animation: slidebottom 2s ease forwards;
            background-color: transparent;
            margin-left: 10px;
            animation-delay: 0.8s;
            background: url('/assets/media/docmobile.png') no-repeat left top;
            padding-left: 8%;  
        }
        
        .textoAnimado4 {
            opacity: 0; 
            animation: slideTop 2s ease forwards;
            background-color: transparent;
            margin-left: 10px;
            animation-delay: 0.9s;
            background: url('/assets/media/piscinamobile.png') no-repeat left top;
            padding-left: 8%;  
        }
        
        .textoAnimado5 {
            opacity: 0; 
            animation: slidebottom 2s ease forwards;
            background-color: transparent;
            margin-left: 10px;
            animation-delay: 1.1s;
            background: url('/assets/media/locmobile.png') no-repeat left top;
            padding-left: 8%;  
        }
        
        @keyframes slideTop {
            from {
              transform: translateY(-100%);
              opacity: 0;
            }
            to {
              transform: translateY(0);
              opacity: 1;
              color: #ffffff
            }
          }
          @keyframes slidebottom {
            from {
              transform: translateY(100%);
              opacity: 0;
            }
            to {
              transform: translateY(0);
              opacity: 1;
              color: #ffffff
            }
          }
        
        
        @keyframes slideIn {
            from {
                opacity: 0; 
                transform: translateX(-100%);
                
            }
            to {
                opacity: 1; 
                transform: translateX(0);
                color: #ffffff
                ;
                
            }
        }
    
        .content img {
            object-fit:contain
        }
        .content {
            top: 10%;
            width: 100%;
            display: inline-block;
            justify-content: space-between;
            left: 0.01%;
            background-color: transparent;
            font-family: 'FonteLista' , sans-serif;
            font-size: xx-small;
            overflow:auto;
            z-index: 1;
            flex-wrap: wrap;
    
    
            }
            
    
            .grow {
                opacity: 0; 
                animation: slideIn 2s ease forwards;
                background-color: transparent;
                animation-delay: 1.9s;
                height: 15%;
                top: 5%;
                left: 80%;
            }
    
            h1 {
                font-size: 100%;
                color: white;
                margin: auto;
                text-align: center;
                position: relative;
                top: 85%;
                left: 50%;
                transform: translate(-50%, -1000%);
                background-color: transparent;
                font-family: 'Titillium Web', sans-serif;
                font-size: x-large;
                z-index: 1;
            }
            
    
            
            iframe {
                top: 180%;
                left: 10%;
                background-color: rgb(0, 0, 0, 0,9);
                margin: auto;
                width: 100%;
            }
    
            .predio {
                width: 100%;
                filter: brightness(0.5);
                object-fit: cover;
                position: static;
                position: relative;
                z-index: 0;
            }
            .div2 {
                display: block;
                z-index: 0;
            }
            
        }
    
    
